@model registationformmvc.Models.registation
@{
    ViewBag.Title = "reg";
}

<h2>reg</h2>
<div>
    @using (Html.BeginForm("Reg", "Registration", FormMethod.Post))
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.fistName, new{@class = "form-label"})
            @Html.TextBoxFor(m => m.fistName, new { @class = "form-controler" })
            @Html.ValidationMessageFor(m => m.fistName,"", new { @class = "text-danger" })
        </div>}
        <div class="mb-3">
            @Html.LabelFor(m => m.lastname, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.lastname, new { @class = "form-controler" })
            @Html.ValidationMessageFor(m => m.lastname, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.email)
            @Html.TextBoxFor(m => m.email)
            @Html.ValidationMessageFor(m => m.email)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.password)
            @Html.TextBoxFor(m => m.password)
            @Html.ValidationMessageFor(m => m.password)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.cpassword)
            @Html.TextBoxFor(m => m.cpassword)
            @Html.ValidationMessageFor(m => m.cpassword)
        </div>
        <div>
            <input type="submit" value="register" class="btn btn-info" />
        </div>



    }
</div>